body {
	background-color: lightsteelblue;
	font-family: monospace;
}

hr {
	background-color: black;
}

li {
	margin-bottom: .25em;
	font-size: 150%;
}

#buttons {
	position: absolute;
	top: 500px;
	left: 25%;
}

#kept-dice {
	height: 60px;
	margin-bottom: .5em;
	/*display: inline;*/
	/*float: left;*/
}

#rolled-dice {
	height: 60px;
	margin-bottom: .5em;
/*	display: inline;
*/	/*float: right;*/
}

#sheet {
	width: 700px;
	margin: auto;
}

#abilities div {
	margin-top: .25em;
	font-size: 150%;
}

#abilities {
	float: right;	
}

#path {
	float: left;
}

#exp div {
	margin-left: 1em;
}

.underline {
	text-decoration: underline;
	display: inline;
}

.completed {
	text-decoration: line-through;
}

.small {
	font-size: 50%;
}

.medium {
	font-size: 75%;
	padding: 5px;
}

.large {
	font-size: 200%;
	padding: 5px;
}