body {

}

li {
	margin-bottom: .5em;
	font-family: monospace;
	font-size: 150%;
}

#sheet {
	width: 800px;
	margin: auto;
}

#abilities div {
	margin-bottom: .5em;
	font-size: 150%;
}

#abilities {
	float: right;	
}

#path {
	float: left;
}

#exp div {
	margin-left: 1em;
}

.underline {
	text-decoration: underline;
	display: inline;
}

.completed {
	text-decoration: line-through;
}

.small {
	font-size: 50%;
}

.medium {
	font-size: 75%;
	padding: 5px;
}